
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #0c1324 }

header.theme-dark   { background-color: #314573 }

header.theme-dark  h1 { color: var(--sky-400); }

section.theme-dark   { background-color: #0c1324 }

footer.theme-dark   { background-color: #0c1324 }



header .col-text h2, .col-1 > h3 { line-height: 1.8 }


.section-selector-3 .col-1 h2 { font-size: var(--font-size-xxl) }
.section-selector-3 .col-3 h3 { font-weight: 400 }




.gradient-text {
    background: linear-gradient(to right,
        var(--purple-700), /* Start color */
        var(--orange-600) /* End color */
    );

    /* Clip the background to the text's shape */
    -webkit-background-clip: text;
    background-clip: text;

    /* Make the text transparent so the background shows */
    color: transparent;
}

header .badge {
    background-color: #314573; /* mesma cor do header */
    color: white;
    padding: 8px 20px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
}
